.loading_circular {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    z-index: 50;
    background-color: #fff;
}

.loading_linha_layout {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-110px;
    margin-top:-40px;
    z-index: 50;
    background-color: #fff;
}